<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sākums</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>
<body>

<div class="headerTomatoes">
    <h1>MAĢISKIE TOMĀTI</h1>
</div>

<div class="secondHeader">
    <h3 class="boxed">GALVENĀ IZVĒLNE</h3>
</div>

<p>
    <span id="startButton">
        <a class="buttons" href="/start" role="button">SĀKT</a>
    </span>

    <span id="continueButton">
        <a class="buttons" href="/continue" role="button">TURPINĀT</a>
    </span>

    <span id="resultsButton">
        <a class="buttons" href="/results" role="button">REZULTĀTI</a>
    </span>
</p>


<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
